.caixa-principal {
    width: 100%;
    margin: 0 auto;    
}
.titulo-principal {
    padding: 70px;
    font-size: 2.5em;
}
.caixa {
    margin: 10px 200px;
    box-sizing: border-box;
}
.abas  {
    display: flex;
    
}
.abas button {
    background-color: #ffd700;
    border: 2px solid #121010;
    color: #121010;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    padding: 10px;
    transition: all .8s;
    box-shadow: 5px 5px #443e3e;
}
.conteudo {
    border: 3px solid #121010;
    background-color:#ffd700;
    min-height: auto;
    padding: 20px ;
}

.esconder {
    display: none;    
}

.abas .ativar {
    background-color: #121010 ;    
    color: #fffcfc;
}
.form__caixa {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.caixa__entrada--form {
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    position: relative;
}
.rotulo--entrada {    
    color: #121010;    
    font-size: 1.1em;
    font-weight: bold;    
}
.input--cadastrar {
    border: 1px solid #121010;
    border-radius: 5px; 
    box-sizing: border-box;
    display: block;
    margin-top: 10px;
    outline: 0;
    padding: 8px 0;
    position: relative; 
}
.input--cadastrar:focus {
    border: 2px solid #e1cece;
}
.caixa__entrada--form--invalido .input--cadastrar {
    border: 2px solid #d21515;
}
.caixa__entrada--form--invalido .rotulo--entrada {
        color: #d21515;
}

.caixa__entrada--form--invalido .entrada__mensagem--erro {
    color: #d21515;
    display: block;
    margin-top: .1em;
    font-size: 15px;    
}
.entrada__mensagem--erro {
    display: none;
}

.caixa__entrada--form--valido .input--cadastrar {
    border: 2px solid #26b918;
}

.caixa__entrada--form--valido .rotulo--entrada {
    color: #26b918;
}

.caixa__principal--alternativa {
    padding: 0px;
    border: none;
}

.link__recupera--senha {
    text-decoration: none;
    color: #121010;
}
.mostra--senha {
    position: absolute;   
    right: .5em;
    top: 2.5em;
    opacity: 0;    
    cursor: pointer;
    z-index: 1;
}
.olho--magico {
    position: absolute;
    right: .3em;
    top: 2.3em; 
    width: 20px;    
}
.subtitulo__pcd {
    font-size: 10px;
    font-weight: bold;
    margin: 3px auto;
}

.cadastrar, .acessar, .experiencia__usuario {
    background:#121010;
    border-style: none;
    border-radius: 5px;
    color: #fffcfc;
    cursor: pointer;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px;    
}
.cadastrar:hover {
    background-color: #fffcfc;
    border: 1px solid #121010;
    font-size: 20px;
    color: #121010;
    transition: all .5s;
}
.link__recupera--senha:hover {
    background-color: #121010;
    color: #fffcfc;
    padding: 10px;
    transition: all .8s;
}
.acessar:hover {
    background-color: #fffcfc;
    border: 1px solid #121010;
    font-size: 20px;
    color: #121010;
    transition: all .5s;
}

/* Css conteúdo profissional */

